.progressCheckout {
  width: 804px;
  margin: 0 auto;
  margin-top: 72px;
}

.listdesign {
  width: 54px;
  height: 54px;
  border: 2px solid #f46b5b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #f46b5b;
}

.mycart,
.mycheckout {
  display: flex;
  align-items: center;
  gap: 24px;
}

.mycart span,
.mycheckout span {
  font-size: 24px;
  font-weight: 500;
  color: #f46b5b;
}

.mycartgap {
  width: 304px;
  height: 2px;
  background: #000;
}

.checkoutheader {
  text-align: center;
  font-size: 48px;
}
