/* .orange_col{
    background: #F46B5B;
    padding: 48px 32px 280px !important;
    border-radius: 32px;
    
}
.collection_head{
    color: white;
    font-size: 36px;
    font-weight: 700;
}
.collection_btn{
    padding: 16px 30px;
    border: 2px solid #fff;
    border-radius: 8px;
    background: transparent;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.collection_text{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0 48px;
}
.header_row{
    display: flex;
    flex-direction: 'row';
    justify-content: space-between;
    margin-bottom: 32px;
}
.header_row span{
    color: #F46B5B;
    font-size: 24px;
}
.featured_head{
    font-size: 36px;
    color: #383838;
    font-weight: 700;
}

.featured_col{
    border: 2px solid #C4C4C4;
    border-bottom-left-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    height: '100%';
    margin-bottom: 0 !important;
}
.sample_img{
    width: 100%;
    height: 100%;
}
.cart_img{
    position: relative;
}
.blue_badge{
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 8px 11px;
    background: #2D9CDB;
    border-radius: 8px;
}
.blue_badge p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: capitalize;
}
.purple_badge{
    position: absolute;
    top: 91px;
    right: 32px;
    padding: 8px 11px;
    background: #BB6BD9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.purple_badge p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: capitalize;
}
.black_badge{
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 8px 11px;
    background: #383838;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.black_badge p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: capitalize;
}
.cart_body{
    text-align: center;
    padding: 16px 0px;
    height: 200px;
}
.cart_body h4{
    color: #383838;
    font-size: 24px;
    font-weight: 600;

}
.cart_body p{
    color: #F46B5B;
    font-size: 24px;
    font-weight: 500;

}
.cart_body del{
    color: #A7A7A7;
    font-size: 24px;
    font-weight: 500;
}
.cart_body button{
    color: white;
    font-size: 18px;
    font-weight: 400;
    background: #F46B5B;
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
}
.top_rated_product{
    padding-top: 150px;
}
.top_rated_col{
    padding: 32px;
    object-fit: cover;
    border-radius: 12px;

}
.top_ratedimg{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 30px;
    margin-bottom: 16px;
}
.top_rated_btn{
    display: flex;
    align-items: center;
    gap: 20px;
}
.rating h6{
    color: #A7A7A7;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}
.star{
    align-items: center;
    color: #A7A7A7;
    font-size: 18px;
    font-weight: 400;
}
.newslater_part{
    padding: 69px 0;
    background: #F46B5B;
}
.newsimg{
    height: 96px;
    width: 96px;
}
.news_col{
    display: flex;
    align-items: center;
}
.newlater_head{
    margin-left: 32px;
}
.newlater_head h2{
    font-size: 48px;
    color: white;
    font-weight: 700;
}
.newlater_head p{
    font-size: 18px;
    color: white;
    font-weight: 400;
}
.news_input{
    width: 100%;
    padding: 24px 32px;
    outline: none;
    border: none;
    border-radius: 8px;
}
.input_col{
    position: relative;

}
.input_col button{
    position: absolute;
    top: 14%;
    right: 30px;
    background: #383838;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-weight: 400;
    }


 */
