/* font family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    font-family: var(--font-montserrat) !important; 
}

/* root CSS */
:root{
    --color-white : #FAFAFA;
    --color-old-gray : #A7A7A7;
    --color-black : #383838;
    --color-red : #F46B5B;
    --color-yellow : #FFD687;
    --color-purple : #BB6BD9;
    --color-blue : #2D9CDB;
    --font-montserrat : "Montserrat", sans-serif;
}

