.reg_part {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg_form {
    width: 50%;
    border-radius: 25px;
    border: 1px solid #e1e1e1;
    background: #f7f7fa;
    padding: 30px 50px 40px;
}

.reg_head {
    padding-bottom: 30px;
    text-align: center;
}

.reg_head h3{
    font-size: 36px;
    font-weight: 600;
    color: var(--red-color);
    margin-bottom: 10px;
}

.reg_head p{
    font-size: 16px;
    font-weight: 400;
    color: var(--icon-color);
    margin-bottom: 10px;
}


.email {
    width: 100%;
    margin-top: 15px;
}

.email label {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-color);
}

.email input {
    width: 100%;
    outline: none;
    border-radius: 15px;
    padding: 12px 18px;
    border: 1px solid var(--border-color);
    margin-top: 10px;
}

.signup_btn {
    width: 100%;
    background: var(--red-color);
    padding: 12px 14px;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 24px;
    margin-top: 30px;
}

.accnt {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.accnt p {
    font-size: 18px;
    font-weight: 400;
    color: var(--black-color);
}

.accnt p a{
    font-size: 18px;
    font-weight: 500;
    color: var(--red-color) !important;
    cursor: pointer;
}