/* Cart Product Style */

.box-180 {
  width: 130px;
  height: 130px;
  cursor: pointer;
}

.counter-btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.counter-gray-btn {
  background-color: #d0d0d2;
}

input[type="checkbox"] {
  accent-color: red;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.products {
  border-top: 1px solid #f46b5b;
}

.last-border {
  border-bottom: 1px solid #f46b5b;
}
.pointer {
  cursor: pointer;
}
/* Cuppon Part */
.cupon-wrapper {
  background-color: #f4f3f1;
}
.cupon-wrapper h6 {
  font-weight: 600;
  margin-bottom: 0;
}
